[Unit]
Description=DentOS POE Agent
After=syslog.service lldpd.service ntp.service

[Service]
Type=simple
Restart=always
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/sbin/poed

[Install]
WantedBy=multi-user.target